.item-display{
    margin-top: 1rem;
}
.item-display h2{
     font-size: 2vw;
     padding-left: 1rem;
}

.item-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 1rem;
    gap:1rem;
    row-gap: 2rem;
}