.header{
    height: 30rem;
    width: 100%;
    
    background-image: url("https://images.unsplash.com/photo-1606824722920-4c652a70f348?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzF8fGdyb2NlcnklMjBzdG9yZXxlbnwwfHwwfHx8MA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    color: rgb(232, 232, 6);
    animation: fadeIn 3s;
}

.header-content h2{
    font-weight: 500;
    font-size: 2.9vw;
}

@media (max-width:1050px){
   
    .header-content{
        max-width: 45%;
        
    }
}
@media (max-width:750px){

    
    .header-content{
        max-width: 65%;

    }
    .header-content p{
        display: none;

    }
    .header-content button{
        padding: 2vw 4vw;
    }
}